	<footer class="footer">

		<div class="footer__logo">

			<svg width="148" height="20" viewBox="0 0 148 20">
				<use xlink:href="#logo"/>
			</svg>

		</div>

		<hr>

		<div class="center">

			<div class="footer__flex">

				<div class="footer__left">

					<div class="footer__menu">

						<h3 class="footer__head">
							Контакты
						</h3>

						<p>
							Strawberry, AR 72469, USA <br>Tel. (+12)123456789 <br>Mail. info@modus.com <br>9:00 am - 18:00 pm
						</p>

					</div>

					<div class="footer__menu">

						<h3 class="footer__head">
							Каталог
						</h3>

						<ul>
							<li><a href="/">Техника по уходу за бельем</a></li>
							<li><a href="/">Техника для кухни</a></li>
							<li><a href="/">Техника по уходу за домом</a></li>
							<li><a href="/">Аксессуары и бытовая химия</a></li>
							<li><a href="/">Профессиональное оборудование</a></li>
							<li><a href="/">Дополнительные услуги</a></li>
							<li><a href="/">Новости и спецпредложения</a></li>
						</ul>

					</div>

					<div class="footer__menu">

						<h3 class="footer__head">
							Сервис
						</h3>

						<ul>
							<li><a href="/">Удобная доставка</a></li>
							<li><a href="/">Установка и настройка</a></li>
							<li><a href="/">Ремонт и обслуживание</a></li>
							<li><a href="/">Премиальные сервисные продукты</a></li>
						</ul>

					</div>

				</div>

				<div class="footer__right">

					<h3 class="footer__head">
						Newsletter
					</h3>

					<form class="footer__form" action="/">

						<input type="email" class="input" placeholder="E-mail">

						<button class="button" aria-label="Отправить емайл">
							<svg width="66" height="63" viewBox="0 0 66 63">
								<path d="M44.8596 32.0056l-7.1875 7.1875a.4794.4794 0 01-.5222.1039.4787.4787 0 01-.2957-.4427v-.9583a.4789.4789 0 01.1404-.3388l4.932-4.932H22.4792A.479.479 0 0122 32.146v-.9583a.4789.4789 0 01.4792-.4792h19.4474l-4.932-4.9321a.4785.4785 0 01-.1404-.3388v-.9583a.4788.4788 0 01.4791-.4792.4791.4791 0 01.3388.1404l7.1875 7.1875a.479.479 0 010 .6776z"/>
							</svg>
						</button>

					</form>

					<div class="footer__social">

{% include "template/social.html" %}

					</div>

				</div>

			</div>

		</div>

	</footer>