	<footer class="footer">

		<div class="footer__logo">

			<svg width="148" height="20" viewBox="0 0 148 20">
				<use xlink:href="#logo"/>
			</svg>

		</div>

		<hr>

		<div class="center">

			<div class="footer__flex">

				<div class="footer__left">

					<div class="footer__menu">

						<h3 class="footer__head">
							Контакты
						</h3>

						<p>
							Strawberry, AR 72469, USA <br>Tel. <a href="tel:+12123456789">(+12)123456789</a> <br>Mail. <a href="mailto:info@modus.com">info@modus.com</a> <br>9:00 am - 18:00 pm
						</p>

						<div class="footer__social">

{% include "template/social.html" %}

						</div>

					</div>

					<div class="footer__menu">

						<h3 class="footer__head">
							Каталог
						</h3>

						<ul>
							<li><a href="/">Техника по уходу за бельем</a></li>
							<li><a href="/">Техника для кухни</a></li>
							<li><a href="/">Техника по уходу за домом</a></li>
							<li><a href="/">Аксессуары и бытовая химия</a></li>
							<li><a href="/">Профессиональное оборудование</a></li>
							<li><a href="/">Дополнительные услуги</a></li>
							<li><a href="/">Новости и спецпредложения</a></li>
						</ul>

					</div>

					<div class="footer__menu">

						<h3 class="footer__head">
							Сервис
						</h3>

						<ul>
							<li><a href="/">Удобная доставка</a></li>
							<li><a href="/">Установка и настройка</a></li>
							<li><a href="/">Ремонт и обслуживание</a></li>
							<li><a href="/">Премиальные сервисные продукты</a></li>
						</ul>

					</div>

				</div>

				<div class="footer__right">

					<h3 class="footer__head">
						Компания
					</h3>

					<p class="footer__about">

						Уже более 135 лет кухонные приборы Bertazzoni помогают людям приносить лучшие домашние блюда на семейный стол. Bertazzoni заработал репутацию благодаря качеству инженерных решений и глубокой любви к еде и семье. Рожденные в Эмилии-Романье, Италия, теперь они доступны по всему миру. Независимо от того, выберете ли вы нашу встраиваемую или отдельно стоящую кухонную технику, Bertazzoni поможет вам готовить с точностью, вкусом и вкусом.

					</p>

				</div>

			</div>

		</div>

	</footer>