	<aside class="member">

		<div class="center">

			<ul class="member__list">

				<li class="member__item">

					<a href="https://www.isaps.org" rel="nofollow" target="_blank" title="Международное Общество Эстетической Пластической Хирургии (ISAPS)">

						<picture>

							<source srcset="/img/member/ISAPS--tablet.webp 1x, /img/member/ISAPS--tablet@2x.webp 2x" type="image/webp" media="(max-width: 1199px)">
							<source srcset="/img/member/ISAPS--tablet.png 1x, /img/member/ISAPS--tablet@2x.png 2x" media="(max-width: 1199px)">

							<source srcset="/img/member/ISAPS.webp 1x, /img/member/ISAPS@2x.webp 2x" type="image/webp">
							<source srcset="/img/member/ISAPS.png 1x, /img/member/ISAPS@2x.png 2x">

							<img src="/img/member/ISAPS.png" alt="ISAPS" loading="lazy" width="81" height="48">

						</picture>

					</a>

				</li>

				<li class="member__item">

					<a href="http://spras.ru/" rel="nofollow" target="_blank" title="Российское Общество Пластических Реконструктивных и Эстетических Хирургов">

						<picture>

							<source srcset="/img/member/SPRAS--tablet.webp 1x, /img/member/SPRAS--tablet@2x.webp 2x" type="image/webp" media="(max-width: 1199px)">
							<source srcset="/img/member/SPRAS--tablet.png 1x, /img/member/SPRAS--tablet@2x.png 2x" media="(max-width: 1199px)">

							<source srcset="/img/member/SPRAS.webp 1x, /img/member/SPRAS@2x.webp 2x" type="image/webp">
							<source srcset="/img/member/SPRAS.png 1x, /img/member/SPRAS@2x.png 2x">

							<img src="/img/member/SPRAS.png" alt="SPRAS" loading="lazy" width="74" height="40">

						</picture>

					</a>


				</li>

			</ul>

		</div>

	</aside>