		<nav class="menu">

			<div class="menu__inner">

				<div class="menu__header">

					<a href="tel:88002002900" class="menu__tel">
						8 800 200-29-00
					</a>

					<button class="button btn-menu-close" type="button" aria-label="закрыть меню">
						<svg width="18" height="18" viewBox="0 0 18 18">
							<path d="M9.9942 9.2007l7.7996-7.7997a.7031.7031 0 10-.9944-.9944L8.9998 8.2063 1.2.4066a.7031.7031 0 10-.9944.9944l7.7996 7.7997-7.7996 7.7997a.703.703 0 00.4972 1.2003.701.701 0 00.4972-.206l7.7997-7.7996 7.7996 7.7996a.701.701 0 00.4972.206.703.703 0 00.4972-1.2003L9.9942 9.2007z"/>
						</svg>
					</button>

				</div>

{% set menu = [
	{
		name : "О компании",
		link : ""
	},
	{
		name : "Каталог",
		link : ""
	},
	{
		name : "Серии",
		link : ""
	},
	{
		name : "Контакты",
		link : ""
	},
	{
		name : "Доставка и оплата",
		link : ""
	},
	{
		name : "Гарантия",
		link : ""
	},
	{
		name : "Акции",
		link : ""
	}
] %}

				<ul class="menu__list">

{% for item in menu %}

					<li class="menu__item">

						<a class="menu__link" href="/{{ item.link }}">{{ item.name }}</a>

					</li>

{% endfor %}

				</ul>

				<div class="menu__footer">

					<button class="menu__btn-callback button" type="button" data-modal="callback">
						Заказать звонок
					</button>

					<form class="menu__search" action="/" novalidate="novalidate" autocomplete="off">

						<input class="input" placeholder="Поиск по сайту">

						<button class="button" aria-label="Искать">
							<svg width="50" height="50" viewBox="0 0 66 66">
								<path d="M44.8596 32.0056l-7.1875 7.1875a.4794.4794 0 01-.5222.1039.4787.4787 0 01-.2957-.4427v-.9583a.4789.4789 0 01.1404-.3388l4.932-4.932H22.4792A.479.479 0 0122 32.146v-.9583a.4789.4789 0 01.4792-.4792h19.4474l-4.932-4.9321a.4785.4785 0 01-.1404-.3388v-.9583a.4788.4788 0 01.4791-.4792.4791.4791 0 01.3388.1404l7.1875 7.1875a.479.479 0 010 .6776z"/>
							</svg>
						</button>

					</form>

				</div>

			</div>

		</nav>