	<script type="application/ld+json">

		[
			{
				"@context": "https://schema.org",
				"@type": "Organization",
				"name": "{{ site }}",
				"url": "{{ url }}",
				"logo": "{{ url }}/og.png",
				"telephone": "+7 (905) 736 64 64",
				"address": {
					"@type": "PostalAddress",
					"addressLocality": "г. Москва",
					"streetAddress": "Ольховская улица, дом 27",
					"hoursAvailable": {
						"@type": "OpeningHoursSpecification",
						"opens": "09:00",
						"closes": "21:00"
					}
				},
				"review": [
					{
						"@type": "Review",
						"author": "John Doe",
						"name": "A masterpiece of literature",
						"reviewBody": "I really enjoyed this book. It captures the essential challenge people face as they try make sense of their lives and grow to adulthood.",
						"reviewRating": {
							"@type": "Rating",
							"ratingValue": "5"
						}
					}
				]
			},
			{
				"@context": "https://schema.org",
				"@type": "WPHeader",
				"name": "{{ title }}",
				"description": "{{ description }}"
			},
			{
				"@context": "https://schema.org",
				"@type": "BreadcrumbList",
				"itemListElement":
				[
					{
						"@type": "ListItem",
						"position": "1",
						"item":
						{
							"@id": "{{ url }}",
							"name": "{{ site }}"
						}
					},
					{
						"@type": "ListItem",
						"position": "2",
						"item":
						{
							"@id": "{{ url }}/{{ folder }}/",
							"name": "{{ title }}"
						}
					}
				]
			}

		]

	</script>