	<script type="application/ld+json">

		[
			{
				"@context": "https://schema.org",
				"@type": "Organization",
				"name": "{{ site }}",
				"url": "{{ url }}",
				"logo": "{{ url }}/og.png",
				"telephone": "8 800 200-29-00",
				"address": {
					"@type": "PostalAddress",
					"addressLocality": "г. Москва",
					"streetAddress": "Ольховская улица, дом 27",
					"hoursAvailable": {
						"@type": "OpeningHoursSpecification",
						"opens": "09:00",
						"closes": "21:00"
					}
				}
			}

		]

	</script>