	<section class="review review-column">

		<div class="review__title">

			<h2 class="head">
				Что говорят пациенты
			</h2>

		</div>

		<hr>

		<div class="center">

			<div class="review-column__wrap">

				<ul class="review-column__list">

{% set list = [
	{
		name: "Лариса",
		service: "Увеличение груди",
		intro: "Для меня в работе очень важно две вещи: отношение и результат.  В этом смысле на 100% это удалось моему хирургу. Я получила очень чуткие, добрые и профессиональные советы и потрясающую грудочку!!",
		text: "Владислава Владиславовна - хирург с золотыми руками с ангельским личиком! Я так хочу Вас поблагодарить за результат моей операции! Очень жалко, что не сразу попала к Вам, а пришла переделывать"
	},
	{
		name: "Светлана",
		service: "Пластика живота",
		intro: "С самого начала мне очень понравился подход Владиславы Владиславовны, ее отношение к проблеме! После родов у меня образовался кожно жировой фартук, конечно я пробовала худеть, ходить на фитнес,",
		text: "Для меня в работе очень важно две вещи: отношение и результат.  В этом смысле на 100% это удалось моему хирургу. Я получила очень чуткие, добрые и профессиональные советы и потрясающую грудочку!!"
	},
	{
		name: "Вера",
		service: "Интимная пластика",
		intro: "Владислава Владиславовна - хирург с золотыми руками с ангельским личиком! Я так хочу Вас поблагодарить за результат моей операции! Очень жалко, что не сразу попала к Вам, а пришла переделывать",
		text: "Для меня в работе очень важно две вещи: отношение и результат.  В этом смысле на 100% это удалось моему хирургу. Я получила очень чуткие, добрые и профессиональные советы и потрясающую грудочку!!"
	},
	{
		name: "Лариса",
		service: "Увеличение груди",
		intro: "Для меня в работе очень важно две вещи: отношение и результат.  В этом смысле на 100% это удалось моему хирургу. Я получила очень чуткие, добрые и профессиональные советы и потрясающую грудочку!!",
		text: "С самого начала мне очень понравился подход Владиславы Владиславовны, ее отношение к проблеме! После родов у меня образовался кожно жировой фартук, конечно я пробовала худеть, ходить на фитнес."
	},
	{
		name: "Лариса",
		service: "Увеличение груди",
		intro: "Для меня в работе очень важно две вещи: отношение и результат.  В этом смысле на 100% это удалось моему хирургу. Я получила очень чуткие, добрые и профессиональные советы и потрясающую грудочку!!",
		text: "Владислава Владиславовна - хирург с золотыми руками с ангельским личиком! Я так хочу Вас поблагодарить за результат моей операции! Очень жалко, что не сразу попала к Вам, а пришла переделывать"
	},
	{
		name: "Светлана",
		service: "Пластика живота",
		intro: "С самого начала мне очень понравился подход Владиславы Владиславовны, ее отношение к проблеме! После родов у меня образовался кожно жировой фартук, конечно я пробовала худеть, ходить на фитнес,",
		text: "Для меня в работе очень важно две вещи: отношение и результат.  В этом смысле на 100% это удалось моему хирургу. Я получила очень чуткие, добрые и профессиональные советы и потрясающую грудочку!!"
	},
	{
		name: "Вера",
		service: "Интимная пластика",
		intro: "Владислава Владиславовна - хирург с золотыми руками с ангельским личиком! Я так хочу Вас поблагодарить за результат моей операции! Очень жалко, что не сразу попала к Вам, а пришла переделывать",
		text: "Для меня в работе очень важно две вещи: отношение и результат.  В этом смысле на 100% это удалось моему хирургу. Я получила очень чуткие, добрые и профессиональные советы и потрясающую грудочку!!"
	},
	{
		name: "Лариса",
		service: "Увеличение груди",
		intro: "Для меня в работе очень важно две вещи: отношение и результат.  В этом смысле на 100% это удалось моему хирургу. Я получила очень чуткие, добрые и профессиональные советы и потрясающую грудочку!!",
		text: "С самого начала мне очень понравился подход Владиславы Владиславовны, ее отношение к проблеме! После родов у меня образовался кожно жировой фартук, конечно я пробовала худеть, ходить на фитнес."
	}
] %}

{% for item in list %}

					<li class="review-column__item readme{% if loop.index > 4 %} visuallyhidden{% endif %}">

						<blockquote class="review__blockquote">

							<cite class="review__autor">

								<span class="review__name">
									{{ item.name }}
								</span>

								<span class="review__service">
									{{ item.service }} →
								</span>

							</cite>

							<p>

								{{ item.intro }}

								<button class="readme__open button">
									Развернуть
								</button>

							</p>

							<p class="readme__body visuallyhidden">

								{{ item.text }}

								<button class="readme__close button visuallyhidden">
									Свернуть
								</button>

							</p>

						</blockquote>

					</li>

{% endfor %}

				</ul>

			</div>

			<div class="review__btn">

				<button class="btn btn--outline review__show-all" type="button">
					Еще отзывы
				</button>

			</div>

		</div>

	</section>