.accompanying {

	color: #fff;
	padding: 54px 0 66px;
	background-color: var(--color);

	&__tabs {

		margin-top: 38px;

	}

	&__list {

		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 46px -10px -10px;

	}

	&__item {

		margin: 10px;
		display: flex;
		width: calc(100% / 4 - 20px);

		@media ($mdWidth) {

			width: calc(100% / 2 - 20px);

		}

	}

}