.accompanying {

	padding: 54px 0 66px;
	background-color: var(--color);

	&__tabs {

		margin-top: 38px;

	}

	&__list {

		display: flex;
		justify-content: center;
		margin: 56px -10px 0;

	}

	&__item {

		margin: 0 10px;
		display: flex;
		width: calc(100% / 4 - 20px);

	}

}