.description {

	padding: 24px 0;
	background-color: #ececec;
	position: relative;

	&__anchor {

		position: absolute;
		top: -80px;

	}

	&__box {

		margin: 30px 0;

	}

	&__item {

		margin: 6px 0;
		background-color: #999;
		color: #fff;

	}

	&__head {

		position: relative;
		height: 50px;
		padding-left: 20px;
		font-size: 20px;
		color: var(--text);
		cursor: pointer;
		display: flex;
		align-items: center;
		font-weight: 400;
		background-color: #fff;
		transition: var(--transitionDefault);

		@media ($desktop) {

			&:hover {

				color: var(--color);

			}

		}

		.btn-plus {

			top: 0;
			right: 0;

		}

	}

	&__head.is-open + &__body {

		max-height: 9999px;
		padding: 22px 30px;

	}

	&__body {

		max-height: 0;
		overflow: hidden;
		transition: var(--transitionDefault);
		padding: 0 30px;

	}

	table {

		width: 100%;
		font-size: 17px;
		line-height: 23px;

		th {

			text-align: left;
			font-weight: 400;
			padding: 6px 20px 6px 0;

		}

		td {

			text-align: right;
			padding: 6px 0;

		}

		tr + tr {

			th, td {

				border-top: 1px solid #c4c4c4;

			}

		}

	}

}