.filter {

	position: relative;
	background-color: #ececec;
	border: 6px solid #ececec;

	@media ($smWidth) {

		border-left: 0;
		border-right: 0;
		margin-left: -20px;
		margin-right: -20px;

	}

	&__fieldset {

		background-color: #fff;

		& + & {

			margin-top: 6px;

		}

		&-inner {

			max-height: 0;
			overflow: hidden;
			transition: var(--transitionDefault);
			padding: 0 18px;

		}

	}

	&__btn-reset {

		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		margin-top: 6px;

		svg {

			flex-shrink: 0;
			margin-right: 12px;
			transition: var(--transitionDefault);

		}

		@media ($desktop) {

			margin-top: 0;
			background-color: transparent;

			&:hover svg {

				fill: #fff;

			}

		}

	}

	&__legend {

		position: relative;
		cursor: pointer;
		font-size: 20px;
		line-height: 26px;
		color: var(--text);
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		padding: 12px 60px 12px 18px;
		width: 100%;
		transition: var(--transitionDefault);

		.btn-plus {

			top: 0;
			right: 0;
			height: auto;
			bottom: 0;

		}

		&.is-open {

			color: var(--color);

		}

	}

	.checkbox + .checkbox {

		margin-top: 15px;

	}

	&__legend.is-open + &__fieldset-inner {

		max-height: 500px;
		padding: 10px 18px 26px;

	}

	&__btn-show-result {

		&::after {

			content: attr(data-suf);

		}

		@media ($mdWidth) {

			width: 100%;
			margin-top: 6px;
			padding: 0;

		}

		@media ($smWidth) {

			font-size: 16px;

		}

		@media ($desktop) {

			position: absolute;
			top: 0;
			left: 100%;
			z-index: 3;
			margin-left: 6px;
			padding: 0 20px;
			opacity: 0;
			pointer-events: none;
			transition: var(--transitionDefault);

			&::before {

				position: absolute;
				top: 0;
				left: 100%;
				content: '';
				transition: var(--transitionDefault);
				border: 25px solid transparent;
				border-left-color: var(--yellow);
				border-right-width: 0;

			}

			&:hover::before {

				border-left-color: var(--yellow-hover);

			}

			&.is-show {

				opacity: 1;
				pointer-events: auto;

			}

		}

	}

}