.footer {

	flex-shrink: 0;
	background-color: var(--black);
	color: #fff;
	padding: 30px 0 60px;

	@media ($mdWidth) {

		padding: 30px 0;

	}

	@media ($smWidth) {

		.center {

			width: 480px;

		}

	}

	&__logo {

		display: flex;
		justify-content: center;

	}

	hr {

		background-color: #c0c0c0;
		margin: 24px 0;

	}

	&__flex {

		display: flex;
		justify-content: space-between;

		@media ($mdWidth) {

			display: block;

		}

	}

	&__right {

		width: 376px;

		@media ($lgWidth) {

			width: 320px;

		}

		@media ($mdWidth) {

			margin: 40px auto;

		}

		@media ($smWidth) {

			width: 100%;
			margin: 0;

		}

	}

	&__left {

		display: flex;

		@media ($smWidth) {

			display: block;

		}

	}

	&__menu {

		width: 320px;
		font-size: 15px;
		line-height: 30px;

		@media ($lgWidth) {

			width: 280px;

		}

		a {

			color: #fff;

			@media ($desktop) {

				&:hover {

					color: var(--yellow);

				}

			}

		}

		&:first-child {

			width: 334px;

			@media ($lgWidth) {

				width: 280px;

			}

		}

	}

	&__head {

		text-transform: uppercase;
		font: 20px/26px 'Roboto Slab';
		margin: 24px 0 12px;
		letter-spacing: .2px;

	}

	&__about {


		font-size: 15px;
		line-height: 30px;

	}

	&__social {

		margin: 40px 0;

		@media ($smWidth) {

			margin: 30px 0 0;

		}

	}

}