.btn,
.button {

	border: 0;
	border-radius: 0;
	font-family: inherit;
	background-color: transparent;
	transition: var(--transitionDefault);
	cursor: pointer;
	user-select: none;
	position: relative;
	font-size: 0;
	color: transparent;
	text-align: center;
	white-space: nowrap;

	&:focus {

		outline: none;

	}

	&:hover {

		cursor: pointer;

	}

	&:disabled {

		pointer-events: none;

	}

}

.btn {

	display: block;
	text-align: center;
	vertical-align: middle;
	position: relative;
	white-space: nowrap;

	padding: 0 50px;

	height: 50px;
	font-size: 20px;
	line-height: 50px;
	font-weight: 400;
	text-align: center;
	color: var(--color);
	border-radius: 0;
	background-color: var(--yellow);

	@media ($desktop) {

		&:hover {

			color: #fff;
			background-color: var(--yellow-hover);

		}

	}


	@media ($mdWidth) {


	}

	&--gray {

		background-color: #dbdbdb;

	}

	&--black {

		color: #fff;
		background-color: var(--color);

		@media ($desktop) {

			&:hover {

				color: var(--color);
				background-color: #fff;

			}

		}

	}

	&--white {

		color: var(--color);
		background-color: #fff;

		@media ($desktop) {

			&:hover {

				color: #fff;
				background-color: var(--color);

			}

		}

	}

	&--outline {

		background-color: #fff;
		box-shadow: inset 0 0 0 1px var(--color);

		@media ($desktop) {

			&:hover {

				box-shadow: inset 0 0 0 1px var(--yellow-hover);

			}

		}

	}

	&--black-border {

		color: #fff;
		background-color: var(--color);
		box-shadow: inset 0 0 0 1px #fff;

		@media ($desktop) {

			&:hover {

				color: var(--color);
				background-color: #fff;

			}

		}

	}

	&--readme {

		width: 130px;
		height: 44px;
		padding: 0;
		background-color: #fff;
		border: 1px solid #dfdfdf;
		color: var(--color);
		font: 15px/42px 'Roboto Slab';

		@media ($desktop) {

			&:hover {

				color: var(--color);
				background-color: #dfdfdf;

			}

		}

	}

}

.input {

	height: 54px;
	line-height: 24px;
	padding: 15px 22px;
	font-size: 16px;

	width: 100%;
	font-family: inherit;
	position: relative;
	appearance: none;
	display: block;
	filter: none;
	-webkit-transform: translateZ(0px); /* FIX for iOS safari https://forum.ionicframework.com/t/ion-input-shows-only-the-first-entered-character-on-ios/73107/5 */

	background-color: #fff;
	border: 1px solid var(--border);
	border-radius: 0;
	color: var(--color);
	transition: var(--transitionDefault);

	textarea& {

		resize: none;
		height: 192px;
		overflow: auto;
		padding: 20px 23px;

	}

	&::placeholder {

		color: var(--text);
		opacity: 1;

	}

	&::-ms-clear {

		display: none;

	}

	&:-webkit-autofill {

		animation-name: autofill;
		animation-fill-mode: both;

	}

	&:hover {

		border-color: var(--text);

	}

	&:focus {

		outline: none;
		border-color: var(--color);

		&::placeholder {

			opacity: 0;

		}

	}

	&[disabled] {

		pointer-events: none;

	}

	&--error {

		border-color: var(--error) !important;

	}

	&:invalid {

		box-shadow: none;
		background-color: transparent;

	}

}

@keyframes autofill {

	to {

		color: var(--text);
		background-color: #fff;

	}

}

/* input-label */
.input-label {

	display: block;
	width: 100%;
	position: relative;

	&__label {

		font-size: 16px;
		line-height: 22px;
		color: var(--text);

		position: absolute;
		top: 16px;
		left: 23px;
		pointer-events: none;
		display: flex;
		transition: var(--transitionDefault);

		.input--error + & {

			color: var(--error);

		}

	}

	&__input[required] ~ &__label::after {

		content: '*';
		color: var(--brown);

	}

	&__input:focus ~ &__label,
	&--no-empty &__label {

		top: 0 !important;
		font-size: 13px !important;
		color: var(--color);

		&::after {

			display: none;

		}

	}

	&__text {

		font-size: 12px;
		display: block;
		position: relative;
		top: 5px;

		&--error {

			color: var(--error);
			display: none;

		}

	}

	&--error &__input {

		border-color: var(--error);

	}

	&--error &__text--error {

		display: block;

	}

}

/* checkbox */

.checkbox {

	display: block;
	position: relative;

	font-size: 17px;
	line-height: 27px;

	&__input {

		position: absolute;
		width: 1px;
		height: 1px;
		top: 0;
		left: 0;
		opacity: 0.001;
		z-index: -1;

	}

	&__input[disabled="disabled"] ~ &__label {

		pointer-events: none;
		color: #cdcdcd !important;

		&::before {

			border-color: transparent;

		}

	}

	@media ($desktop) {

		&:hover &__label {

			color: var(--color);

		}

	}

	&__label {

		display: block;
		padding-left: 44px;
		cursor: pointer;
		color: var(--text);

		&::before {

			width: 25px;
			height: 25px;
			position: absolute;
			top: 0;
			left: 0;
			content: '';
			background-color: #f4f4f4;
			border: 1px solid #e2e2e2;
			transition: var(--transitionDefault);

		}

	}

	&__check {

		width: 0;
		height: 27px;
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
		transition: var(--transitionDefault);
		transition-property: opacity;
		opacity: 0;

		svg {

			position: absolute;
			top: 6px;
			left: 6px;

		}

	}

	&__input[type="checkbox"]:checked ~ &__check {

		opacity: 1;
		width: 27px;
		transition-property: width;

	}

/* radio */

	&__input[type="radio"] ~ &__label::before {

		border-radius: 50%;

	}

	&__input[type="radio"] ~ &__check {

		width: 27px;
		transform: scale(0);

		svg {

			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;

		}

	}

	&__input[type="radio"]:checked ~ &__check {

		opacity: 1;
		transform: scale(1);
		transition-property: transform opacity;

	}

	&--error &__label {

		color: var(--error) !important;

		&::before {

			border-color: var(--error) !important;

		}

	}

}


/* select */


.select {

	display: block;
	position: relative;

	&::after {

		width: 15px;
		height: 15px;
		top: 22px;
		right: 16px;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 15 15'%3E%3Cpath fill='%23000' d='M14.7602 3.8106l-.4913-.4948a.8147.8147 0 00-.5803-.2396.815.815 0 00-.5803.2396L7.5033 8.921 1.892 3.3096a.8141.8141 0 00-.5802-.2395.8149.8149 0 00-.5803.2395L.24 3.8013c-.32.3198-.32.8406 0 1.1604l6.681 6.705c.1544.1544.3602.2632.5819.2632h.0025c.22 0 .4256-.1089.58-.2632l6.6748-6.6868c.1547-.1544.2396-.3664.2398-.5861a.8202.8202 0 00-.2398-.5832z'/%3E%3C/svg%3E%0A");
		position: absolute;
		content: '';
		transition: var(--transitionDefault);;
		pointer-events: none;

	}

	option {

		color: var(--color);
		font-size: 16px;

	}

	&::-ms-expand {

		display: none;

	}

	select {

		border-radius: 0;
		-webkit-appearance: none;
		color: #909090;
		font-size: 20px;
		height: 54px;
		line-height: 52px;
		padding: 0 36px 0 18px;
		display: block;
		width: 100%;
		background-color: #fff;
		border: 1px solid #dcdcdc;

		&:focus {

			outline: none;

		}

	}

}