.header {

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9;
	background-color: color(#0b0b0b a(50%));

	.center {

		width: 100%;
		padding: 0 30px;

		@media ($smWidth) {

			padding: 0 20px;

		}

	}

	@media ($lgWidth) {

	}

	@media ($mdWidth) {

	}

	@media ($smWidth) {

	}

	&__flex {

		height: 80px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media ($smWidth) {

			height: 60px;

		}

	}

	&__logo {

		margin-right: auto;
		margin-left: 28px;

		@media ($smWidth) {

			margin-left: 20px;

			svg {

				width: 118px;
				height: 16px;

			}

		}

	}

	&__tel {

		font-weight: 700;
		font-size: 28px;
		line-height: 30px;
		color: #fff;
		white-space: nowrap;

		span {

			color: var(--yellow);

		}

	}

	&__btn-callback {

		height: 34px;
		background-color: #252b36;
		padding: 0 12px;
		letter-spacing: .4px;
		font-style: italic;
		font-weight: 300;
		font-size: 15px;
		line-height: 34px;
		color: var(--yellow);
		margin: 0 36px 0 24px;

		@media ($desktop) {

			&:hover {

				color: var(--color);
				background-color: var(--yellow);

			}

		}

	}

	&__favorite {

		fill: #fff;
		margin: 0 15px;
		position: relative;

		@media ($desktop) {

			&:hover {

				fill: var(--yellow);

			}

		}

		@media ($mdWidth) {

			margin: 0 20px 0 0;

			svg {

				width: 30px;
				height: 30px;

			}

		}

	}

	&__search {

		fill: #fff;
		margin: 0 15px;
		position: relative;

	}

	&__cart {

		fill: #fff;
		transition: var(--transitionDefault);
		margin: 0 18px 0 42px;
		position: relative;

		&-count {

			position: absolute;
			width: 14px;
			height: 14px;
			line-height: 12px;
			top: 20px;
			left: 20px;
			color: #000;
			text-align: center;
			font-size: 8px;

			@media ($mdWidth) {

				top: 16px;
				left: 16px;

			}

		}

		@media ($desktop) {

			&:hover {

				fill: var(--yellow);

			}

		}

		@media ($mdWidth) {

			margin: 0;

			svg {

				width: 30px;
				height: 30px;

			}

		}

	}

	&__menu {

		order: -1;
		margin: 0 -5px;

	}

}

.btn-menu-open,
.btn-menu-close {

	width: 30px;
	height: 30px;
	position: relative;
	display: block;

	svg {

		margin: auto;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

	}

}

.header-search {

	position: relative;
	height: 31px;
	overflow: hidden;

	&.is-open {

		overflow: visible;

	}

	&.is-open &__input {

		width: 370px;
		opacity: 1;
		padding-left: 25px;
		padding-right: 55px;

		@media ($lgWidth) {

			width: 300px;

		}

	}

	&.is-open &__btn {

		pointer-events: auto;
		transition: 1s;

	}

	&__input {

		top: -12px;
		left: 12px;
		width: 31px;
		height: 55px;
		background-color: #000;
		border-color: #c7c7c7;
		opacity: 0;
		padding-left: 0;
		padding-right: 0;
		color: #fff;

		&::placeholder {

			font-style: italic;
			font-weight: 300;
			font-size: 15px;
			color: #ddd;
			opacity: 1;

		}

		&:focus {

			border-color: #fff;

			&::placeholder {

				opacity: 1;

			}

		}

	}

	&__btn {

		position: absolute;
		top: 0;
		right: 0;
		pointer-events: none;

		@media ($desktop) {

			&:hover {

				fill: var(--yellow);

			}

		}

	}

}