.home-about {

	padding-top: 40px;

	.center {

		padding-bottom: 94px;

		&::before {

			position: absolute;
			top: 94px;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			background-color: #f5f5f5;

		}

	}

	&__flex {

		display: flex;
		margin-top: 148px;
		position: relative;

	}

	&__left {

		width: 365px;
		flex-shrink: 0;

		.h1 {

			text-align: left;
			line-height: 50px;

		}

		p {

			font-size: 20px;
			line-height: 30px;
			color: var(--text);
			margin: 26px 0 34px;

		}

		.btn {

			border-color: var(--color);
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

			@media ($desktop) {

				&:hover {

					border-color: #dfdfdf;

				}

			}

		}

	}

	&__right {

		flex-grow: 1;
		padding-top: 132px;
		padding-left: 50px;
		position: relative;

	}

	.swiper-container {

		position: absolute;
		top: 18px;
		left: 124px;
		right: -45px;

		@media ($lgWidth) {

			right: -30px;

		}

		@media ($mdWidth) {

			right: -20px;

		}

	}

	.swiper-controls {

		right: auto;
		opacity: 1;
		top: 296px;
		left: 566px;

		.swiper-navigation {

			position: static;

		}

		.swiper-button-prev,
		.swiper-button-next {

			width: 36px;
			height: 36px;
			background-color: transparent !important;

			@media ($desktop) {

				&:hover svg {

					fill: var(--text);

				}

			}

		}

	}

	&__item {

		width: 380px !important;

	}

	&__dashboard {

		width: 617px;
		position: relative;
		background-color: #fff;
		padding: 138px 134px 37px 73px;
		box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);

		&-head {

			font: 25px/33px 'Roboto Slab';

		}

		&-text {

			font-size: 20px;
			line-height: 27px;
			margin-top: 7px;
			color: var(--text);

		}

	}

}

