.home-slider {

	position: relative;
	background-color: #0e1116;
	margin-top: -116px;

	@media ($mdWidth) {

		margin-top: -80px;

	}

	@media ($smWidth) {

		margin-top: -60px;

	}

	.center {

		height: 875px;
		height: 100vh;
		height: var(--homeSliderHeight);
		z-index: 2;

	}

	&__item {

		&::after {

			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			height: 50%;
			background: linear-gradient(to top, #000, rgba(196, 196, 196, 0));
			opacity: 0.5;
			z-index: 1;
			pointer-events: none;

		}

	}

	&__img {

		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;

	}

	&__btn {

		position: absolute;
		top: 262px;
		left: 100px;
		right: 100px;
		bottom: 100px;
		margin: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		@media ($smWidth) {

			top: 200px;
			left: 20px;
			right: 20px;

		}

		.btn--black {

			font-size: 25px;
			line-height: 88px;
			height: 88px;
			padding: 0 33px;
			letter-spacing: 2.5px;
			text-transform: uppercase;

			@media ($mdWidth) {

				font-size: 22px;
				line-height: 60px;
				height: 60px;
				padding: 0 30px;
				letter-spacing: 2px;

			}

			@media ($smWidth) {

				font-size: 20px;
				line-height: 30px;
				height: auto;
				padding: 10px 20px;
				letter-spacing: 1px;
				white-space: normal;

			}

		}

		.btn--readme {

			margin-top: 56px;

			@media ($smWidth) {

				margin-top: 40px;

			}

		}

	}

	&__text {

		position: absolute;
		top: 200px;
		left: 100px;
		right: 100px;
		bottom: 100px;
		margin: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		@media ($smWidth) {

			top: 200px;
			left: 20px;
			right: 20px;

		}

		&-head {

			color: #fff;
			font: 90px/130px Annabelle;
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			text-align: center;

			@media ($mdWidth) {

				font-size: 50px;
				line-height: 70px;

			}

			@media ($smWidth) {

				font-size: 30px;
				line-height: 40px;

			}

		}

		&-text {

			color: #fff;
			font: 30px/40px Annabelle;
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			margin-top: 44px;
			text-align: center;

			@media ($mdWidth) {

				font-size: 26px;

			}

			@media ($smWidth) {

				font-size: 20px;
				line-height: 30px;

			}

		}

	}

}