.home-categories {

	.center {

		padding-top: 60px;
		padding-bottom: 60px;
		color: #fff;
		background-color: var(--black);
		background-position: top right;
		background-repeat: no-repeat;
		background-image: url(/img/categories/bg.png);

	}

	&__intro {

		text-align: center;
		font-style: italic;
		font-size: 15px;
		line-height: 22px;
		margin-bottom: 24px;

	}

	.categories__list {

		margin-bottom: 0;

	}

}

