.home-readme {

	padding: 40px 0 60px;
	position: relative;
	overflow: hidden;

	@media ($smWidth) {

		padding: 0;
		margin: 0;

		.center {

			padding: 0;

		}

	}

	&__column {

		display: flex;

		@media ($mdWidth) {

			display: block;

		}

	}

	&__left {

		position: relative;
		width: 665px;

		@media ($mdWidth) {

			width: 100%;

		}

		@media ($smWidth) {

			img {

				width: 100%;
				height: 200px;
				display: block;
				object-fit: cover;

			}

		}

	}

	&__right {

		width: 685px;
		position: relative;

		@media ($mdWidth) {

			width: 100%;
			margin-top: 60px;

		}

		@media ($smWidth) {

			margin-top: 20px;

		}

	}

	&__text {

		position: relative;

		p {

			font-size: 20px;
			line-height: 30px;
			color: var(--text);
			margin: 10px 0 15px;

			@media ($smWidth) {

				font-size: 16px;
				line-height: 24px;

			}

		}

		&--1 {

			padding: 30px 30px 15px 0;

			@media ($mdWidth) {

				margin-top: -200px;
				background-color: #fff;
				box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
				padding: 30px;
				margin-left: 100px;

			}

			@media ($smWidth) {

				margin-top: -100px;
				padding: 20px;
				margin-left: 20px;

			}

		}

		&--2 {

			padding: 0 43px 30px;

			@media ($smWidth) {

				padding: 20px;

			}

		}

		&--3 {

			@media ($mdWidth) {

				display: flex;
				flex-direction: column-reverse;
				margin-top: 30px;

			}

			@media ($smWidth) {

				margin: 0;
				padding: 0;

			}

			img {

				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				right: 0;
				object-fit: cover;

				@media ($mdWidth) {

					position: relative;
					height: 200px;
					width: 100%;

				}

			}

		}

		&--4 {

			padding: 30px 43px 36px;

			@media ($smWidth) {

				padding: 20px;

			}

		}

		&-inner {

			width: 425px;
			position: relative;
			left: -425px;
			padding: 30px 40px 36px;
			background-color: #fff;

			@media ($mdWidth) {

				left: 0;
				width: 100%;

			}

			@media ($smWidth) {

				padding: 20px;

			}

		}

	}

	&__shadow {

		box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);

	}

	&__illustration {

		top: 13px;
		right: -45px;
		position: absolute;

		@media ($smWidth) {

			right: 0;

		}

	}

}