.menu {

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9;
	transition: var(--transitionDefault);
	background-color: color(#0b0b0b a(50%));
	opacity: 0;
	pointer-events: none;
	transition-delay: var(--transitionDefault);

	.menu-show & {

		opacity: 1;
		pointer-events: auto;
		transition-delay: 0s;

	}

	&__inner {

		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 274px;
		background-color: #fff;
		transition: var(--transitionDefault);
		transform: translate3d(-274px,0,0);

		.menu-show & {

			transform: translate3d(0,0,0);
			transition-delay: var(--transitionDefault);

		}

	}

	&__header {

		height: 80px;
		background-color: #e1e1e1;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 15px 0 30px;

		@media ($smWidth) {

			height: 60px;

		}

	}

	&__tel {

		font-size: 24px;
		font-weight: 700;
		color: var(--color);

	}

	&__list {

		margin: 30px;

		@media ($xsWidth) {

			margin: 20px 30px;

		}

	}

	&__item {

		font-size: 18px;
		font-weight: bold;
		line-height: 30px;
		margin: 10px 0;

		@media ($xsWidth) {

			font-size: 16px;
			line-height: 24px;

		}

	}

	&__link {

		color: #2f2f2f;
		text-transform: uppercase;

		@media ($desktop) {

			&:hover {

				color: var(--text);

			}

		}

	}

	&__footer {

		border-top: 1px solid #e4e4e4;
		border-bottom: 1px solid #e4e4e4;
		padding: 30px;

		@media ($xsWidth) {

			border-bottom: 0;

		}

	}

	&__search {

		position: relative;
		margin-top: 20px;

		.input {

			height: 50px;
			border: 1px solid #e4e4e4;
			padding: 15px;
			font-size: 18px;
			line-height: 20px;

			@media ($desktop) {

				&:hover,
				&:focus {

					border-color: var(--yellow);

				}

			}

		}

		button {

			position: absolute;
			top: 0;
			right: 0;
			background-color: var(--yellow);

			@media ($desktop) {

				&:hover {

					background-color: #fff;

				}

			}

		}

	}

	&__btn-callback {

		height: 50px;
		width: 100%;
		background-color: #252b36;
		font-style: italic;
		font-weight: 300;
		font-size: 18px;
		line-height: 50px;
		color: var(--yellow);

		@media ($desktop) {

			&:hover {

				color: var(--color);
				background-color: var(--yellow);

			}

		}

	}

}