.modal {

	flex-grow: 1;
	position: relative;
	-webkit-overflow-scrolling: touch;
	z-index: 10;
	display: none;
	width: 100%;
	justify-content: center;
	align-items: center;
	padding: 20px;

	&__box {

		width: 480px;
		max-width: 100%;
		position: relative;

	}

	&__item {

		position: relative;
		padding: 30px;
		box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
		background-color: #fff;

		&--info {

			padding-top: 56px;

		}

	}

	&__close-btn {

		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 1;

	}

	&__title  {

		text-align: center;
		margin-bottom: 10px;

	}

	&__text {

		text-align: center;

	}

	&__form {

		max-width: 350px;
		margin: 0 auto;

	}

	&__input {

		margin: 20px 0;

	}

	&__submit {

		margin: 26px auto;

	}

}

.modal-show {

	.modal {

		display: flex;

	}

	.wrapper {

		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		pointer-events: none;

		&::after {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			z-index: 9;
			background-color: color(#0b0b0b a(50%));

		}

	}

}
