.social {

	display: flex;

	&__item {

		display: flex;
		align-items: center;
		margin-left: 15px;

		&:first-child {

			margin-left: 0;

		}

	}

	&__link {

		display: block;

		svg {

			fill: var(--yellow);
			transition: var(--transitionDefault);

		}

		@media ($desktop) {

			&:hover svg {

				fill: #fff;

			}

		}

	}

}