.sort {

	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 20px;
	margin-bottom: 18px;

	@media ($smWidth) {

		margin: 20px auto;
		display: block;
		font-size: 14px;
		max-width: 464px;

	}

	&__left {

		@media ($smWidth) {

			text-align: center;
			font-size: 16px;

		}

	}

	&__label {

		@media ($smWidth) {

			display: none;

		}

	}

	&__right {

		display: flex;
		align-items: center;

	}

	&__control {

		margin-left: 25px;
		min-width: 258px;

		@media ($smWidth) {

			margin: 10px 0 0;
			min-width: 100%;

		}

	}

}