:root {

	--color: #000;
	--border: #dcdcdc;
	--text: #919191;
	--black: #202020;
	--red: #f00;
	--error: #f00;
	--green: #019107;
	--yellow: #ffcb12;
	--yellow-hover: #3f3f3f;
	--brown: #d6a700;
	--gray: #dbdbdb;

	--transitionDefault: .3s;

}

$desktop: (min-width: 1200px);
$lgWidth: (max-width: 1300px);
$mdWidth: (max-width: 1199px);
$smWidth: (max-width: 767px);
$xsWidth: (max-width: 359px);