.video {

	padding: 24px 0 48px;
	position: relative;

	@media ($mdWidth) {

		padding: 24px 0 0;

	}

	@media ($smWidth) {

		padding-top: 20px;

	}

	&__anchor {

		position: absolute;
		top: -80px;

	}

	&__box {

		display: flex;
		justify-content: center;
		margin: 30px -20px 0;

		@media ($mdWidth) {

			display: block;

		}

		@media ($smWidth) {

			margin-top: 20px;

		}

	}

	&__link {

		display: block;
		position: relative;
		background-color: #fff;
		transition: var(--transitionDefault);

	}

	&__link.is-play &__img,
	&__link.is-play &__play {

		opacity: 0;
		pointer-events: none;

	}

	&__img {

		display: block;

		@media ($mdWidth) {

			width: 100%;
			height: 50vw;
			object-fit: cover;

		}

	}

	iframe {

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border: 0;
		width: 100%;
		height: 100%;
		display: block;
		margin: auto;

	}

	&__play {

		position: absolute;
		width: 121px;
		height: 121px;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		content: '';
		border-radius: 50%;
		background-color: var(--yellow);
		transition: var(--transitionDefault);

		@media ($smWidth) {

			transform: scale(.5);

		}

		svg {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			fill: #000;
			transition: var(--transitionDefault);

		}

	}

	@media ($desktop) {

		&__link:hover &__play {

			background-color: var(--yellow-hover);

			svg {

				fill: #fff;

			}

		}

	}

}