{% set title = site %}

{% set description = "" %}

{% extends "template/base.html" %}

{% block content %}

	<div style="padding: 80px 40px">

		<h1 class="h1">Pages</h1>

		<ul class="h2">
			<li><a href="/main">main</a></li>
			<li><a href="/categories">categories</a></li>
			<li><a href="/products">products</a></li>
			<li><a href="/product">product</a></li>
			<li><a href="/cart">cart</a></li>
		</ul>

		<hr style="margin: 20px">

		<div style="display: flex; flex-wrap: wrap;">

			<button class="btn" style="margin: 10px;" type="button" onclick="BERTAZZONI.modalShow('info','Заголовок','Тект сообщения.')">
				Информационное окно
			</button>

			<button class="btn btn--gray" style="margin: 10px;" onclick="BERTAZZONI.modalShow('info',false,'Только текст.')">
				.btn .btn--gray
			</button>

			<button class="btn btn--outline" style="margin: 10px;" onclick="BERTAZZONI.modalShow('info','Только заголовок')">
				.btn .btn--outline
			</button>

			<button class="btn btn--black-border" style="margin: 10px;" onclick="BERTAZZONI.modalShow('info','Только заголовок')">
				.btn .black-border
			</button>

			<button class="btn btn--white-border" style="margin: 10px;" onclick="BERTAZZONI.modalShow('info','Только заголовок')">
				.btn .white-border
			</button>

			<button class="btn btn--white" style="margin: 10px;" onclick="BERTAZZONI.modalShow('info','Только заголовок')">
				.btn .btn--white
			</button>


			<div class="select" style="margin: 10px;">

				<select>
					<option value="Father">Father</option>
					<option value="Sister" selected="selected">Sister</option>
					<option value="Brother">Brother</option>
					<option value="Mother">Mother</option>
				</select>

			</div>

			<div style="margin: 10px;">

				<input class="input" placeholder="placeholder">

			</div>

			<div style="margin: 10px;">

				<label class="input-label">

					<input class="input input-label__input" required="required" name="name">

					<span class="input-label__label">
						Required
					</span>

				</label>

			</div>

		</div>

		<h1 class="h1">PageSpeed</h1>

		<ul class="h2">
			<li><a target="_blank" href="https://developers.google.com/speed/pagespeed/insights/?url=http%3A%2F%2Fbertazzoni.wndrbase.com%2Fmain%2F&tab=desktop">main <b>0|98</b></a></li>
			<li><a target="_blank" href="https://developers.google.com/speed/pagespeed/insights/?url=http%3A%2F%2Fbertazzoni.wndrbase.com%2Fcategories%2F&tab=desktop">categories <b>0|99</b></a></li>
			<li><a target="_blank" href="https://developers.google.com/speed/pagespeed/insights/?url=http%3A%2F%2Fbertazzoni.wndrbase.com%2Fproducts%2F&tab=desktop">products <b>0|99</b></a></li>
			<li><a target="_blank" href="https://developers.google.com/speed/pagespeed/insights/?url=http%3A%2F%2Fbertazzoni.wndrbase.com%2Fproduct%2F&tab=desktop">product <b>0|99</b></a></li>
		</ul>

		<hr style="margin: 20px">

		<h1 class="h1">Schema & Open Graph</h1>

		<ul class="h2">
			<li><a target="_blank" href="https://search.google.com/structured-data/testing-tool?hl=ru#url=http%3A%2F%2Fbertazzoni.wndrbase.com%2Fsurgery%2F">product</a></li>
		</ul>

	</div>

{% endblock %}