{% set title = "Духовые шкафы" %}

{% set description = "Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi u" %}

{% set breadcrumbs = [
	{
		name : "Бытовая техника",
		link : "categories"
	},
	{
		name : title,
		link : "products"
	}
] %}

{% extends "template/base.html" %}

{% block content %}

	<article class="products">

		<div class="center">

			<h1 class="h1">
				{{ title }}
			</h1>

			<div class="products__flex">

				<div class="products__left filter-show__visible">

{% include "products/filter.html" %}

				</div>

				<div class="products__right filter-show__hidden">

					<div class="products__filter-btn">

						<button type="button" class="filter__btn-show btn btn--gray">
							Показать фильтр
						</button>

					</div>

{% include "products/sort.html" %}
{% include "products/list.html" %}

				</div>

			</div>

		</div>

	</article>

{% include "_include/related.html" %}

{% endblock %}